# Misc.
.idea
.DS_Store
.eslintcache
*.swp
*~

# Dependencies/Build.
/node_modules/
/build/

# Logs.
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# NPM lockfile.
package-lock.json

# Typescript.
*.tsbuildinfo

# Rust
/target/
**/*.rs.bk

# Yarn.
**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/versions
**/.pnp.*

# Credentials.
/test_wallet.json
